.book-card-request-form {        
    width: 22rem;
    height:44rem;        
    margin: 0px;
    padding: 1px;
    margin-bottom: 3px;          
    background-color: beige;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    transition: box-shadow 0.3s ease; /* Анимация */
    border: none; /* Убираем стандартную рамку */
    border-radius: 8px; /* Слегка скругляем углы */
  }

  .book-card-request-form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Более сильная тень при наведении */
}
/* .book-shop-container{
    border: 2px solid yellow;
} */


